.keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 0.5rem;
}

.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    padding: .3rem;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: aquamarine;
}

.btn.active {
    background-color: rgb(165, 218, 202);
    color: white;
}

.btn.inactive {
    opacity: .3;
}