.main {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0 auto;
    align-items: center;
}

.end-text {
    font-size: 1rem;
    text-align: center;
    font-family: monospace;
}

.hangman-drawing {
    position: relative;
}


#drawing-line1 {
    height: 40px;
    width: 8px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
}

#drawing-line2 {
    height: 8px;
    width: 150px;
    background-color: black;
    margin-left: 95px;
}

#drawing-line3 {
    height: 320px;
    width: 8px;
    background-color: black;
    margin-left: 95px;
}

#drawing-line4 {
    height: 8px;
    width: 200px;
    background-color: black;
}

.hangman-word {
    display: flex;
    gap: 0.25rem;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}

.letter-cont {
    border-bottom: 0.1em solid black;
}

.keyboard-container {
    align-self: stretch;
}